<!DOCTYPE html>
<html>
    <head>
        <title>Tour Package</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/style.css' %}">

    </head>
    <body>

        <nav style="margin-bottom: 20px; background-color: #f0f0f0; padding: 10px;">
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'add_package' %}">Add Package</a> |
            <a href="/admin/">Admin</a>
         </nav>

        <h1>Available Tour Packages</h1>
        <ul>
            {% for package in packages %}
                <li>
                    <strong>{{ package.title }}</strong><br>
                    {{ package.description }}<br>
                    ₹{{ package.price }}
                    {% if package.image %}
                        <img src="{{ package.image.url }}" width="200">
                    {% endif %}
                    <a href="{% url 'book_package' package.id %}">
                        <button>Book Now</button>
                    </a>
                </li>
            {% empty %}
                <li>No packages available.</li>
            {%endfor %}
        </ul>
    </body>
</html>
